<div class="wrap">
  <div class="content ">
<%= button_to "Dejar mensaje", messages_new_path ,class: "btn btn-success",id: "btn_user_new",:method => :get ,remote: true %>
<br>

<%= button_to "JUGAR", play_path , class: "btn btn-warning" ,:method => :get, remote: true %>

<%= button_to "Donar dinero a Ivan", messages_openpay_path,id: "btn-openPay", class: "btn btn-info" ,:method => :get, remote: true %>


<br>

       <%= form_for :search, :html => {class: "form-search" } , remote: true, url: messages_search_path do |f| %>
       <i class="fa fa-search"></i>
         <%= f.text_field :word , placeholder: "Estoy buscando..." %>
       <%= f.submit "Buscar", class: "button"%>

       <% end %>
<br>

  </div>
</div>
