<%= button_to "dejar mensaje", messages_new_path ,class: "btn btn-success",id: "btn_user_new",:method => :get ,remote: true %>
<div class="wrap-form">
   <div class="content-form">
   <br>
   <h3>Obtener linea de pago de Open Pay en tienda</h3>
   <%= button_to "Obtener codigo", messages_openpay_path, class: "btn btn-danger" ,:method => :get, remote: true %>


   <h3>Busqueda por</h3>
   <%= form_for :search, remote: true, url: messages_search_path do |f| %>
   <p>
     <%= f.label :palabra %><br>
     <%= f.text_field :word %>
   </p>
   <p>
     <%= f.submit "buscar", class: "btn btn-info"%>
   </p>
   <% end %>


   </div>
</div>



<table class="table">
    <thead>
      <tr>
        <td>#</td>
        <th>Autor</th>
        <th>Titulo</th>
        <th>Texto</th>
        <th>Número de tags</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      <%@messages.reverse.each_with_index do |message, index|%>
        <%if index % 2 == 0%>
            <%clase = "inpar"%>
        <%else%>
            <%clase = "par"%>
        <%end%>
        <tr class="<%=clase%>">
          <td ><%=index += 1 %></td>
          <td><%=message.autor.capitalize%></td>
          <td><%=message.title.capitalize%></td>
          <td><%=message.text.capitalize%></td>
          <td><%=message.tags.count%></td>
          <td>
              <%message.tags.each do |t|%>
              <ul>
                <li><%=t.name.capitalize%></li>
              </ul>
              <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div id="search-modal" class="modal fade"></div>
<div id="openpay-modal" class="modal fade"></div>
<div id="master-modal" class="modal fade"></div>
