<table class="table">
    <thead>
      <tr>
        <td>#</td>
        <th>Autor</th>
        <th>Titulo</th>
        <th>Texto</th>
        <th>Número de tags</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      <%@messages.reverse.each_with_index do |message, index|%>
        <%if index % 2 == 0%>
            <%clase = "inpar"%>
        <%else%>
            <%clase = "par"%>
        <%end%>
        <tr class="<%=clase%>">
          <td ><%=index += 1 %></td>
          <td><%=message.autor.capitalize%></td>
          <td><%=message.title.capitalize%></td>
          <td style="width:10em" ><%=message.text.capitalize%></td>
          <td><%=message.tags.count%></td>
          <td>
              <%message.tags.each do |t|%>
              <ul>
                <li><%=t.name.capitalize%></li>
              </ul>
              <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
