<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Resultados para la busqueda<%=@word%></h3>
    </div>
      <div class="modal-body">
        <table class="table">
          <%@mtitle.class%>


          <% if @mtext.count > 0%>
            <thead>
              <tr>
                  <th>Texto <%=@word%> está en los siguientes mensajes</th>
                  <tr>
                    <th>Titulo</th>
                    <th>Texto</th>
                    <th>Autor</th>
                  </tr>
              </tr>
            </thead>
            <tbody>
                  <%@mtext.each do |me|%>
                      <tr>
                        <td><%=me.title%></td>
                        <td><%=me.text%></td>
                        <td><%=me.autor%></td>
                      </tr>


                  <% end %>
          <% end%>



          <% if @mautor.count > 0%>
            <thead>
              <tr>
                  <th>Autor <%=@word%> conntiene los siguientes mensajes</th>
                  <tr>
                    <th>Titulo</th>
                    <th>Texto</th>
                    <th>Autor</th>
                  </tr>
              </tr>
            </thead>
            <tbody>
                  <%@mautor.each do |me|%>
                      <tr>
                        <td><%=me.title%></td>
                        <td><%=me.text%></td>
                        <td><%=me.autor%></td>
                      </tr>


                  <% end %>
          <% end%>



          <% if @tname.count > 0%>
            <thead>
              <tr>
                  <th>Tag <%=@word%> conntiene los siguientes mensajes</th>
                  <tr>
                    <th>Titulo</th>
                    <th>Texto</th>
                    <th>Autor</th>
                  </tr>
              </tr>
            </thead>
            <tbody>
                  <%@tname.each do |tn|%>
                      <%tn.messages.each do |m|%>
                      <tr>
                        <td><%=m.title%></td>
                        <td><%=m.text%></td>
                        <td><%=m.autor%></td>
                      </tr>
                      <%end%>

                  <% end %>
          <% end%>



            </tbody>
          </table>

      </div>
      <div class="modal-footer">
    </div>
  </div>
</div>
