<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Resultados para la busqueda<%=@word%></h3>
    </div>
      <div class="modal-body">
        <table class="table">
          <%@mtitle.class%>
          <%@mtext.class%>
          <%@mautor.class%>
          <% if @tname%>
            <thead>
              <tr>
                  <th>Tag <%=@word%> conntiene los siguientes mensajes</th>
              </tr>
            </thead>
            <tbody>
                  <%@tname.each do |tn|%>
                      <%tn.messages.each do |m|%>
                      <tr>
                        <td><%=m.title%></td>
                        <td><%=m.text%></td>
                        <td><%=m.autor%></td>
                      </tr>
                      <%end%>

                  <% end %>
              <% end%>
            </tbody>
          </table>

      </div>
      <div class="modal-footer">
    </div>
  </div>
</div>
