<div class="wrap">
   <div class="content">
   Ingresa tu mensaje
   <%= form_for :message, url: messages_path do |f| %>
   <p>
     <%= f.label :titulo %><br>
     <%= f.text_field :title %>
   </p>

   <p>
     <%= f.label :texto %><br>
     <%= f.text_area :text %>
   </p>
   <p>Puede ingresar más de un tag, separandolos con comas ","</p>
   <p>Ejemplo: tag1, tag2, etc</p>
   <p>
     <%= f.label :tag %><br>
     <%= f.text_field :tag %>
   </p>
   <p>
     <%= f.submit "salvar mensaje", class: "btn btn-success"%>
   </p>
   <% end %>
   </div>
</div>

<div class="wrap">
   <div class="content">
   Busquedas
   <%= form_for :search, remote: true, url: messages_search_path do |f| %>
   <p>
     <%= f.label :palabra %><br>
     <%= f.text_field :word %>
   </p>
   <p>
     <%= f.submit "buscar", class: "btn btn-info"%>
   </p>
   <% end %>
   </div>
</div>


<table class="table">
    <thead>
      <tr>
        <th>Autor</th>
        <th>Titulo</th>
        <th>Texto</th>
        <th>Número de tags</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      <%@messages.reverse.each do |message|%>
        <tr>
          <td><%=message.autor%></td>
          <td><%=message.title%></td>
          <td><%=message.text%></td>
          <td><%=message.tags.count%></td>
          <td>
              <%message.tags.each do |t|%>
              <ul>
                <li><%=t.name%></li>
              </ul>
              <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div id="search-modal" class="modal fade"></div>
