<div class="wrap">
   <div class="content">
   This will be centered
   <%= form_for :message, url: messages_path do |f| %>
   <p>
     <%= f.label :title %><br>
     <%= f.text_field :title %>
   </p>

   <p>
     <%= f.label :text %><br>
     <%= f.text_area :text %>
   </p>
   <p>
     <%= f.label :tag %><br>
     <%= f.text_field :tag %>
   </p>
   <p>
     <%= f.submit %>
   </p>
   <% end %>
   </div>
</div>




<table class="table">
    <thead>
      <tr>
        <th>Autor</th>
        <th>Text</th>
        <th>Número de tags</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      <%@messages.reverse.each do |message|%>
        <tr>
          <td><%=message.autor%></td>
          <td><%=message.text%></td>
          <td><%=message.tags.count%></td>
          <td>
              <%message.tags.each do |t|%>
              <ul>
                <li><%=t.name%></li>
              </ul>
              <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
