      <!-- <br>
      <div class="wrap">
      </div> -->
      <div class="wrap">
        <div class="content ">
          <div class="arriba">
            <!-- la clase "arriba" sirve para hacer la animaciòn en espiral de inicio-->
          </div>
          <br>
          <div id="access">
            <div class="registro">
              <%= button_to "Registrarse", new_user_path,class: "btn btn-success",id: "btn_user_new",:method => :get ,remote: true %>
            </div>
            <div class="registro">
              <br>
              <%= button_to "Logearse", log_path ,class: "btn btn-info",:method => :get ,remote: true %>
              <br>
            </div>
            <br>
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
            <br>
            <br>
            <div
              class="fb-like"
              data-share="true"
              data-width="250"
              data-show-faces="true">
            </div>

          </div>
          <!-- ubicación de los botones -->
          <div id="buttons">
            <%=  render 'messages/buttons'%>
            <div id="nasa">

            </div>
          </div>

          <div id="messages">
              <%= render 'messages/messages'%>
          </div>
          <div class="gif">
            <%=image_tag("NADA.jpg", alt: "no se ve imagen")%>
          </div>
      </div>
    </div>
    <!-- vistas modales -->
    <div id="user-modal" class="modal fade"></div>
    <div id="log-modal" class="modal fade"></div>
    <div id="search-modal" class="modal fade"></div>
    <div id="openpay-modal" class="modal fade"></div>
    <div id="master-modal" class="modal fade"></div>

    <script>
      <%= render :partial => 'users/index.js'%>
    </script>
