      <br>
      <div class="wrap">
      </div>
      <div class="wrap">
        <div class="content ">
          <div class="arriba">
          </div>
          <br>
          <div id="access">
            <div class="registro">
              <%= button_to "Registrarse", new_user_path,class: "btn btn-success",id: "btn_user_new",:method => :get ,remote: true %>
            </div>
            <div class="registro">
              <br>
              <%= button_to "Logearse", log_path ,class: "btn btn-info",:method => :get ,remote: true %>
              <br>
            </div>
            <br>
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
            <br>
            <br>
            <div
            class="fb-like"
            data-share="true"
            data-width="250"
            data-show-faces="true">
          </div>

          </div>
          <div id="messages">
            <%= render 'messages/index'%>
          </div>
          <div class="gif">
            <%=image_tag("09.gif", alt: "no se ve imagen")%>
          </div>
      </div>
    </div>
    <!-- vistas modales -->
    <div id="user-modal" class="modal fade"></div>
    <div id="log-modal" class="modal fade"></div>
    <script>
      <%= render :partial => 'users/index.js'%>
    </script>
