<!DOCTYPE html>
<html>
  <head>
    <title>IV-APP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- hacer que la ventana sea responsiva al dispositivos moviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- esto permite traer la imagen de la lupa en el filtro -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  </head>

  <header>
        <div id="salir">
          <%= link_to "Log out", logout_path, method: :delete %>
        </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
